-i https://pypi.org/simple
aniso8601==6.0.0
attrs==19.1.0
click==7.1.1
cycler==0.10.0
flask_restplus==0.13.0
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.0.1
markupsafe==1.1.1
six==1.14.0
Werkzeug==0.16.0
xgboost==1.2.0
numpy==1.19.4
pandas==1.1.4